version: '3.8'

services:
  backend:
    networks:
      - wol-api-network
    volumes:
      - ./backend:/home/appuser
      - ./scripts:/home/appuser/scripts
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      - db
    ports:
      - 8000:8000
    restart: unless-stopped

  db:
    networks:
      - wol-api-network
    image: postgres:latest
    environment:
      POSTGRES_DB: wol-api
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /data/postgres
    ports:
      - 5432:5432
    volumes:
      - postgres-db:/data/postgres
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres-db:
    driver: local

networks:
  wol-api-network:
